<div style="
            background-color:#393939;border-color: #808080;font-size: 14px;
            color:#ffffff;width: 100%;height:25px;padding-left: 0px"
        >Map BCDT
</div>
<div style="
            border-bottom:1px solid #393939; height:3px"
        >&nbsp;</div>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding-left: 0px;background-color: #efefef" valign="top">Upload Arsip BC 23</td>
        <td style="padding-left: 0px;background-color: #efefef" valign="top" style="padding-left: 5px">Dokumen BC 23
            <input type="hidden" name="id" value=""/>
        </td>
    </tr>
    <tr valign="top">
        <td style="padding-left: 0px;background-color: #efefef" valign="top" width="50%">
            <div class="siderLabelDark">File:</div>
            <form method="post" target="ifUploader" action="/inventory/bcdt/" id="myForm"
                  enctype="multipart/form-data" style="width:100%;">
                <input type="hidden" name="c" value="upload"/>
                <input name="uploadedfile" type="file" style="width:100%; ;"
                       id="uploader"/>
                <br/>
                <input type="submit" name="btnKirimFile" value="Kirim File"/>

                <div class="uploadStatus"></div>
            </form>
            <iframe id="ifUploader" name="ifUploader" style="display:none;"></iframe>
            <br/>

            <div class="siderLabelDark"> Nomor</div>
            <input dojoType="dijit.form.TextBox" tabindex="-1" style="width:90%;"
                   name='no_mapping'>
            <br/>

            <div class="siderLabelDark">Tanggal</div>
            <input class="formcell" dojoType="lib.CustomDatebox" tabindex="-1" style="width:90%;"
                   name='tgl_mapping'></div>
        </td>
        <td style="padding-left: 5px;background-color: #efefef" width="50%">
            <div class="siderLabel">Dokumen</div>
            <div id="docDetail" style="width:100%;"></div>

        </td>
    </tr>
    <tr>
        <td valign="top">
            <div class="siderLabel shadow">&nbsp;</div>
            ITEM BARANG
            <div>&nbsp;</div>
        </td>
        <td valign="top" style="padding-left: 0px">
            <div class="siderLabel shadow">&nbsp;</div>
            MAPPING
            <div>&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <div id="dgItemBarang" style="height: 400px">loading grid item barang</div>
            <button name='btnSimpanMapping' dojoType='lib.CustomButton'>Simpan</button>
        </td>
        <td valign="top" style="padding-left: 5px">
            <div class="siderLabel">Map From</div>
            <div id="detailBarangDokumen">Detail Barang Dokumen</div>
            <div class="siderLabel">To</div>
            <div>
                <input dojoType="lib.LookupTextbox" style="width:90%;"
                       lookupUrl="/inventory/barang/"
                       lookupParam="{c:'lookupbarang'}"
                       detailer="barangDetail"
                       idField="id"
                       idName="barang_id"
                       detailFilter="nama,merk,satuan,harga,kode"
                       name='barang_nama'></div>
            <input type='hidden' dojoType='dijit.form.TextBox' name='barang_id'>
            <button name='btnMap' dojoType='lib.CustomButton'>Map!</button>
            <button name='btnRegBrg' dojoType='lib.CustomButton'>Reg. Brg!</button>
            <br/>

            <div id="barangDetail">Detail Barang Warehouse</div>
        </td>
    </tr>

</table>