<div style="
            background-color:#393939;border-color: #808080;font-size: 14px;
            color:#ffffff;width: 100%;height:25px;padding-left: 0px"
        >Browse Mutasi Barang
</div>
<div style="
            border-bottom:1px solid #393939; height:3px"
        >&nbsp;</div><br/>
<table width="100%" height="90%" border="0">
    <tr valign="top">
        <td style="padding-left: 0px">
            <div class="dicBrowse" id="divBrowse">Hasil Pencarian Mutasi</div>
        </td>
    </tr>
    <tr valign="top">
        <td height="50px" style="padding-left: 0px;height: 50px" valign="top">

            <li title="Show" class="btnShow btnBorder" id="showMutasi" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li>
            <li title="Pendaftaran Mutasi Baru" class="btnNew  btnBorder" id="newMutasi" style="25px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Regist new mutasi">
            </li>
            <li title="Update data Mutasi" class="btnEdit btnBorder" id="editMutasi" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Update data mutasi">
            </li>
            <li title="Hapus data Mutasi" class="btnDel btnBorder" id="delMutasi" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li>
            <li title="Lookup data Mutasi" class="btnLookup btnBorder" id="lookupMutasi" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Lookup data mutasi">
            </li>
            <li title="Refresh" class="btnRefresh btnBorderEnd" id="refreshMutasi" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li>
        </td>
    </tr>
</table>