<div style="
            background-color:#393939;border-color: #808080;font-size: 14px;
            color:#ffffff;width: 100%;height:25px;padding-left: 0px"
        >Browse Barang
</div>
<div style="
            border-bottom:1px solid #393939; height:3px"
        >&nbsp;</div>
<table width="100%" height="90%" border="0">
    <tr valign="top">
        <td style="padding-left: 0px">
            <div class="dicHasilPencarian" id="divHasilPencarian">Hasil Pencarian Barang</div>
        </td>
    </tr>
    <tr valign="top">
        <td height="50px" style="padding-left: 0px;height: 50px" valign="top">

            <li title="Show" class="btnShow btnBorder" id="showBarang" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li><li title="Pendaftaran Barang Baru" class="btnNew  btnBorder" id="newBarang" style="25px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Regist new barang">
            </li><li title="Update data Barang" class="btnEdit btnBorder" id="editBarang" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Update data barang">
            </li><li title="Hapus data Barang" class="btnDel btnBorder" id="delBarang" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li><li title="Lookup data Barang" class="btnLookup btnBorder" id="lookupBarang" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Lookup data barang">
            </li><li title="Refresh" class="btnRefresh btnBorderEnd" id="refreshBarang" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li>
        </td>
    </tr>
</table>