{% load humanize %}
<div class="siderLabel">Nama</div>
<div>{{nama}}</div>
<br/>
<div class="siderLabel">Merk</div>
<div>{{merk}}</div>
<br/>
<div class="siderLabel">Kode</div>
<div>{{kode}}</div>
<br/>
<div class="siderLabel">Harga</div>
<div style="text-align: right">{{harga|intcomma}}</div>
<br/>
<div class="siderLabel">Satuan</div>
<div>{{satuan}}</div>
<br/>
<div class="siderLabel">Tag</div>
<div>{{tag}}</div>
<br/>
<div class="siderLabel">Image</div>
<div><img width="100%" src="../site_media/folder_gambar_barang/{{url}}"/></div>
<br/>
