<div style="
            background-color:#393939;border-color: #808080;font-size: 14px;
            color:#ffffff;width: 100%;height:25px;padding-left: 0px"
        >Browse Pembelian
</div>
<div style="
            border-bottom:1px solid #393939; height:3px"
        >&nbsp;</div><br/>
<table width="100%" height="90%" border="0">
    <tr valign="top">
        <td style="padding-left: 0px">
            <div class="dicBrowse" id="divBrowse">Hasil Pencarian Pembelian</div>
        </td>
    </tr>
    <tr valign="top">
        <td height="50px" style="padding-left: 0px;height: 50px" valign="top">

            <li title="Show" class="btnShow btnBorder" id="showPembelian" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li><li title="Pendaftaran Pembelian Baru" class="btnNew  btnBorder" id="newPembelian" style="25px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Regist new pembelian">
            </li><li title="Update data Pembelian" class="btnEdit btnBorder" id="editPembelian" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Update data pembelian">
            </li><li title="Hapus data Pembelian" class="btnDel btnBorder" id="delPembelian" style="14px verdana;font-weight: bold;
                ">
            <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li><li title="Lookup data Pembelian" class="btnLookup btnBorder" id="lookupPembelian" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Lookup data pembelian">
            </li><li title="Refresh" class="btnRefresh btnBorderEnd" id="refreshPembelian" style="14px verdana;font-weight: bold;
                ">
            <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
        </li>
        </td>
    </tr>
</table>