<div style="
            background-color:#393939;border-color: #808080;font-size: 14px;
            color:#ffffff;width: 100%;height:25px;padding-left: 0px"
        >Browse Supplier
</div>
<div style="
            border-bottom:1px solid #393939; height:3px"
        >&nbsp;</div><br/>
<table width="100%" height="90%" border="0">
    <tr valign="top">
        <td style="padding-left: 0px">
            <div class="dicHasilPencarian" id="divHasilPencarian">Hasil Pencarian Supplier</div>
        </td>
    </tr>
    <tr valign="top">
        <td height="50px" style="padding-left: 0px;height: 50px" valign="top">

            <li title="Show" class="btnShow btnBorder" id="showSupplier" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li><li title="Pendaftaran Supplier Baru" class="btnNew  btnBorder" id="newSupplier" style="25px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Regist new supplier">
            </li><li title="Update data Supplier" class="btnEdit btnBorder" id="editSupplier" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Update data supplier">
            </li><li title="Hapus data Supplier" class="btnDel btnBorder" id="delSupplier" style="14px verdana;font-weight: bold;
                ">
            <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li><li title="Lookup data Supplier" class="btnLookup btnBorder" id="lookupSupplier" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Lookup data supplier">
            </li><li title="Refresh" class="btnRefresh btnBorderEnd" id="refreshSupplier" style="14px verdana;font-weight: bold;
                ">
            <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
        </li>
        </td>
    </tr>
</table>