<div>Tutorial</div>
<br/>
<div>Tutorial Sistem Inventory
    <div class="formcell">&nbsp;</div>
    <b>Pengelolaan Barang</b>
    <li>Klik Menu <em>Kelola Barang</em> untuk melihat daftar barang pada Main WareHouse</li>
    <li>Pada form pengelolaan barang, ketikkan bagian nama barang sebagai kata kunci filter barang</li>
    <li>Klik Menu <em>Register Barang</em> untuk menambahkan jenis barang pada Main WareHouse</li>
    <div class="formcell"></div>
    <b>Pengelolaan Supplier</b>
    <li>Klik Menu <em>Kelola Supplier</em> untuk melihat daftar supplier yang telah terdaftar pada sistem inventory</li>
    <li>Pada form pengelolaan supplier, ketikkan bagian nama supplier sebagai kata kunci filter supplier</li>
    <li>Klik Menu <em>Register Supplier</em> untuk menambahkan supplier baru</li>
    <div class="formcell"></div>
    <b>Pengelolaan Customer</b>
    <li>Klik Menu <em>Kelola Customer</em> untuk melihat daftar Customer yang telah terdaftar pada sistem inventory</li>
    <li>Pada form pengelolaan Customer, ketikkan bagian nama supplier sebagai kata kunci filter Customer</li>
    <li>Klik Menu <em>Register Customer</em> untuk menambahkan Customer baru</li>
    <div class="formcell"></div>
    <b>Pembelian</b>
    <li>Klik Menu <em>Rencana Pembelian</em> memulai proses perencanaan pembelian</li>
    <li>Setelah form rencana pembelian tampil, textbox <em>Nama</em> pada secton <em>Supplier</em> akan mendapatkan
        focus cursor
    </li>
    <li>Pada textbox <em>Nama</em> tersebut, ketikkan bagian nama supplier barang. Pada panel sebelah kanan akan muncul
        daftar nama supplier yang sesuai dengan kata kunci yang anda ketikkan.
    </li>
    <li>Ketikkan panah bawah atau panah bawah untuk memilih salah satu supplier pada daftar supplier di sebelah
        kanan,ketik [enter] untuk mengkonfirmasi pilihan anda tersebut. setelah mengetik [enter] maka textbox pada
        section <em>Supplier</em> akan terisi dengan kelengkapan data supplier yang telah dipilih pada daftar supplier.
    </li>
    <li>Selanjutnya fokus form akan berpindah pada textbox <em>nama barang</em> pada section <em>Item Pembelian</em>
    </li>
    <li>Seperti pada section supplier, pengisian barang dapat dilakukan dengan lookup daftar barang dengan cara
        mengetikkan bagian nama barang.
    </li>
    <li>Setelah pemilihan barang, fokus akan berpindah pada jumlah barang.</li>
    <li>Setelah pengisian jumlah pembelian barang, fokus akan berpindah pada harga barang</li>
    <li>Setelah pengisian harga beli barang, fokus akan berpindah pada tombol simpan item pembelian</li>
    <li>Ketik Enter untuk menyimpan item pembelian barang.</li>
    <li>Setelah penyimpanan item pembelian pertama, maka dokumen pembelian tersebut akan mendapatkan nomor pembelian
        dari sistem. Nomor tersebut akan muncul pada textbox <em>No Rencana Pembelian</em>
    </li>
    <li>Setelah proses penyimpanan item pembelian barang, fokus akan berpindah pada textbox <em>barabg</em> pada section
        <em>Item Pembelian</em></li>
    <li>Ulangi proses entri item pembelian yang lain dengan proses yang sama.</li>
    <li>Apabila proses entri item pembelian telah selesai, maka proses selanjutnya ada finalisasi proses entri
        pembelian. Pada saat fokus berada pada text barang, klik enter 2 kali, maka fokus cursor akan berpindah pada
        tombol simpan pembelian.
    </li>
    <li>Ketik [enter] sekali lagi maka akan dilakukan proses penyimpanan pembelian.</li>

</div>