<div style="
            background-color:#393939;border-color: #808080;font-size: 14px;
            color:#ffffff;width: 100%;height:25px;padding-left: 0px"
        >Browse Customer
</div>
<div style="
            border-bottom:1px solid #393939; height:3px"
        >&nbsp;</div><br/>
<table width="100%" height="90%" border="0">
    <tr valign="top">
        <td style="padding-left: 0px">
            <div class="dicHasilPencarian" id="divHasilPencarian">Hasil Pencarian Customer</div>
        </td>
    </tr>
    <tr valign="top">
        <td height="50px" style="padding-left: 0px;height: 50px" valign="top">

            <li title="Show" class="btnShow btnBorder" id="showCustomer" style="14px verdana;font-weight: bold;
                ">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li><li title="Pendaftaran Customer Baru" class="btnNew  btnBorder" id="newCustomer" style="25px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Regist new customer">
            </li><li title="Update data Customer" class="btnEdit btnBorder" id="editCustomer" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Update data customer">
            </li><li title="Hapus data Customer" class="btnDel btnBorder" id="delCustomer" style="14px verdana;font-weight: bold;
                ">
            <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
            </li><li title="Lookup data Customer" class="btnLookup btnBorder" id="lookupCustomer" style="14px verdana;font-weight: bold;
                 list-style-type:none;">
                <img width="100px" height="50px" src="../site_media/img/spacer_crud.gif" alt="Lookup data customer">
            </li><li title="Refresh" class="btnRefresh btnBorderEnd" id="refreshCustomer" style="14px verdana;font-weight: bold;
                ">
            <img width="50px" height="50px" src="../site_media/img/spacer_crud.gif" alt="">
        </li>
        </td>
    </tr>
</table>