<div style="margin: auto;background-color:#9a9a9a;width:100%;">
    <div style="margin: auto;width:600px;
    background-color: white; border: 1px #efefef dotted" align="center">
        <table id="Table_01" width="600" height="480" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <img src="../site_media/img/web/web_01.gif" width="600" height="150" alt=""/></td>
            </tr>
            <tr>
                <td>
                    <img src="../site_media/img/web/web_02.gif" width="600" height="13" alt=""/></td>
            </tr>
            <tr>
                <td>
                    <img src="../site_media/img/web/web_03.gif" width="600" height="14" alt=""/></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="150" align="center">
                                <div style="width:140px;height: 140px;
                                background-image: url('../site_media/img/web/web_04.gif');
                                background-position: -20,10; ">
                                    <img src="../site_media/img/web/spacer.gif" alt="">
                                </div>
                            </td>
                            <td>
                                <span style="font: 18px verdana;color:brown;font-weight: bold;">Load dokumen Pabean anda</span>

                                <p style="font: 10px verdana">
                                    Kurangi aktifitas input pemasukan barang ke Warehouse dengan cara load
                                    data importasi dari arsip dokumen pabean anda.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150" align="center">
                                <div style="width:140px;height: 140px;
                                background-image: url('../site_media/img/web/web_04.gif');
                                background-position: -160,10;">
                                    <img src="../site_media/img/web/spacer.gif" alt="">
                                </div>
                            </td>
                            <td>
                                <span style="font: 18px verdana;color:brown;font-weight: bold;">
                                    Purchase</span>

                                <p style="font: 10px verdana">
                                    Pencatatan pemasukan baran melalui proses pembelian
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150" align="center">
                                <div style="width:140px;height: 140px;
                                background-image: url('../site_media/img/web/web_04.gif');
                                background-position: -300,10 ;">
                                    <img src="../site_media/img/web/spacer.gif" alt="">
                                </div>
                            </td>
                            <td>
                                <span style="font: 18px verdana;color:brown;font-weight: bold;">
                                    Traking Barang dalam Process</span>

                                <p style="font: 10px verdana">
                                    Pencatatan pemasukan baran melalui proses pembelian
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150" align="center">
                                <div style="width:140px;height: 140px;
                                background-image: url('../site_media/img/web/web_04.gif');
                                background-position: -440,10; ">
                                    <img src="../site_media/img/web/spacer.gif" alt="">
                                </div>
                            </td>
                            <td>
                                <span style="font: 18px verdana;color:brown;font-weight: bold;">
                                    Stock Opname</span>

                                <p style="font: 10px verdana">
                                    Pencatatan pemasukan baran melalui proses pembelian
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="siderLabel">&nbsp;</div>
                    <div style="height: 2px">&nbsp;</div>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="20px" style="background-color: #cdcdcd;color:white;">&nbsp</td>

                            <td style="background-color: #cdcdcd;color:white; padding: 5px">
                                <br/>
                                Feature:
                                <li style="font:10px verdana">Administrasi Barang</li>
                                <li style="font:10px verdana">Administrasi Supplier</li>
                                <li style="font:10px verdana">Administrasi Customer</li>
                                <li style="font:10px verdana">Purchase</li>
                                <li style="font:10px verdana">Mapping Dokumen BC 2.3</li>
                                <li style="font:10px verdana">Stock Opname</li>
                                <li style="font:10px verdana">Jurnal</li>
                            </td>
                            <td width="20px" style="background-color: #cdcdcd;color:white;">&nbsp</td>
                            <td width="60px" style="background-color: #cdcdcd;
                            color:white;font:10px verdana; padding: 5px">
                                <br/>
                                Contact us:<br/>
                                Rawamangun Jakarta, Indonesia
                                tejo.ak@gmail.com
                            </td>
                            <td style="background-color: #cdcdcd;
                            color:white; padding: 5px" align="center">
                                <br/>
                                <a style="font: 18px verdana;font-weight: bold;">[</a>warehouse bc 2.3
                                <a style="font: 18px verdana;font-weight: bold;">]</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="background-color: #cdcdcd;color:white; padding: 5px">
                                &#169;2012 by tejo a kusuma - djakarta
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
