<html>
<head>
    <title>Laporan penting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        @page {
            size: A4 landscape;
            margin: 1cm;
            bottom: 1cm;

        @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 1cm;
            margin-left: 1cm;
            margin-right: 1cm;
            height: 1cm;
            }
            }

        @font-face {
            font-family: BROADW;
            src: url("{{font}}BROADW.TTF");
            /*src: url("../../static/img/font/BROADW.TTF");*/
        }

        @font-face {
            font-family: aerial;
            src: url("{{font}}arial.ttf");
        }

        .aerial {
            font-family: aerial;
            font-size: 11pt
        }
    </style>
</head>
<body>
<div style="font-family: BROADW;font-size: 14pt;border-bottom: 2px solid black; text-align: center">
    Direktorat Jenderal Bea dan Cukai {{font}}<br/>
    Direktorat Informasi Kepabeanan dan Cukai<br/>
    Laporan Kuartal Mutasi Barang Dalam Proses<br/>
</div>
<br/>
<table border="1" cellpadding="4pt">
    <tr>
        <td width="5%" class="aerial">No.</td>
        <td width="30%" class="aerial">Nama</td>
        <td width="20%" class="aerial"> NIP</td>
        <td width="45%" class="aerial">Keterangan</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">1.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%" style="font-size: 11pt;font-family: verdana">The best Keyboardist verdana</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">1.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%" class="aerial">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">2.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>
    <tr>
        <td width="5%" class="aerial">3.</td>
        <td width="30%" class="aerial">Tejo Arum Kusuma</td>
        <td width="20%" class="aerial"> 19840728 200701 1 00 1</td>
        <td width="45%">The best Keyboardist</td>
    </tr>

</table>
<img src="../public/site_media/img/gender.gif" alt="">

<div id='footerContent' style="border-top: 1px solid #808080">Laporan Kuartal Mutasi Barang Dalam Proses |
    <pdf:pagenumber/>
</div>
</body>
</html>